body {
    background: linear-gradient(to right, #fff, #2727270c);
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    header {
        width: 100vw;
        height: 8vh;
    }

    .navbar {
        display: none;
    }

    .mobile-navbar {
        width: 100vw;
        height: 8vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        z-index: 10;
        position: fixed;
        background-color: #fff;
    }

    .mobile-navbar div {
        width: auto;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .mobile-navbar a {
        text-decoration: none;
        color: rgba(27, 27, 27, 0.8);
        font-size: 15px;
        font-weight: 100;
    }

    .mobile-navbar a:hover {
        text-decoration: none;
        color: rgba(27, 27, 27, 0.5);
        font-weight: 400;
    }

    .mobile-navbar .logo {
        overflow: hidden;
        width: auto;
        height: 8vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mobile-navbar .logo img {
        width: 100%;
        height: 6vh;
        overflow: hidden;

    }
    
    .container {
        width: 100vw;
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .total-container {
        width: 100vw;
        height: 22vh;
    }

    .total-container div {
        width: 100%;
        height: 100%;
        display: grid;
        align-items: center;
        justify-items: center;
        gap: 5px;
        font-size: 20px;
    }

    .total-container a {
        width: 70vw;
        height: 8vh;
        margin: 0 auto;
    }

    .total-container button {
        font-size: 16px;
        font-weight: 100;
        width: 100%;
        height: 100%;
        border: none;
        background-color: #272727;
        color: #fff;
        transition: 300ms;
    }

    .total-container button:hover {
        background-color: #fff;
        color: #272727;
        border: 1px solid #272727;
        cursor: pointer;
    }


    #title {
        width: 100%;
        text-align: center;
        margin: 5%;
        font-size: 32px;
        font-weight: bold;
    }

    #table {
        width: 95vw;
        height: auto;
        display: grid;
        gap: 10px;
    }

    #produto {
        background-color: #d9d9d9;
        border: 1px solid #f6f6f6;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
        font-size: 12px;
    }

    #produto div{
        margin-right: 25px;
    }

    #produto #produto-quantidade{
        margin-left: 10px;
    }

    #produto-img {
        width: 80px;
        height: 70px;
        overflow: hidden;
    }

    #produto-img img {
        width: 100%;
        height: 100%;
    }

    #total-produto{
        display: none;
    }


    #buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        font-size: 12px;
    }

    #buttons a {
        text-decoration: none;
        color: #272727;
    }

    #buttons a:hover {
        opacity: 0.5;
    }

    #cart-container.toggle{
        display: none;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px){
    #side-menu {
        display: none;
    }

    header {
        width: 100vw;
        height: 8vh;
    }

    .navbar {
        display: none;
    }

    .mobile-navbar {
        width: 100vw;
        height: 8vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        z-index: 10;
        position: fixed;
        background-color: #fff;
    }

    .mobile-navbar div {
        width: auto;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .mobile-navbar a {
        text-decoration: none;
        color: rgba(27, 27, 27, 0.8);
        font-size: 15px;
        font-weight: 100;
    }

    .mobile-navbar a:hover {
        text-decoration: none;
        color: rgba(27, 27, 27, 0.5);
        font-weight: 400;
    }

    .mobile-navbar .logo {
        overflow: hidden;
        width: auto;
        height: 8vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mobile-navbar .logo img {
        width: 100%;
        height: 8vh;
        overflow: hidden;

    }
    
    .container {
        width: 100vw;
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .total-container {
        width: 100vw;
        height: 18vh;
    }

    .total-container div {
        width: 100%;
        height: 100%;
        display: grid;
        align-items: center;
        justify-items: center;
        gap: 5px;
        font-size: 20px;
    }

    .total-container a {
        width: 70vw;
        height: 8vh;
        margin: 0 auto;
    }

    .total-container button {
        font-size: 16px;
        font-weight: 100;
        width: 100%;
        height: 100%;
        border: none;
        background-color: #272727;
        color: #fff;
        transition: 300ms;
    }

    .total-container button:hover {
        background-color: #fff;
        color: #272727;
        border: 1px solid #272727;
        cursor: pointer;
    }


    #title {
        width: 100%;
        text-align: center;
        margin: 5%;
        font-size: 32px;
        font-weight: bold;
    }

    #table {
        width: 75vw;
        height: auto;
        display: grid;
        gap: 10px;
    }

    #produto {
        background-color: #d9d9d9;
        border: 1px solid #f6f6f6;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
        font-size: 12px;
    }

    #produto div{
        margin-right: 25px;
    }

    #produto #produto-quantidade{
        margin-left: 10px;
    }

    #produto-img {
        width: 80px;
        height: 70px;
        overflow: hidden;
    }

    #produto-img img {
        width: 100%;
        height: 100%;
    }

    #total-produto{
        display: none;
    }


    #buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        font-size: 12px;
    }

    #buttons a {
        text-decoration: none;
        color: #272727;
    }

    #buttons a:hover {
        opacity: 0.5;
    }
}

@media screen and (min-width: 1024px) {

    .container {
        width: 100vw;
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .total-container {
        width: 100vw;
        height: 30vh;
        display: flex;
        justify-content: flex-end;
    }

    .total-container div {
        width: 50%;
        height: 100%;
        display: grid;
        align-items: center;
        justify-items: center;
        padding: 0 5% 0 0;
        gap: 10px;
        font-size: 20px;
    }

    .total-container a {
        width: 20vw;
        height: 8vh;
        margin: 0 18% 10% 15%;
    }

    .total-container button {
        font-size: 16px;
        font-weight: 100;
        width: 100%;
        height: 100%;
        border: none;
        background-color: #272727;
        color: #fff;
        transition: 300ms;
    }

    .total-container button:hover {
        background-color: #fff;
        color: #272727;
        border: 1px solid #272727;
        cursor: pointer;
    }


    #title {
        width: 100%;
        text-align: center;
        margin: 3%;
        font-size: 32px;
        font-weight: bold;
    }

    #table {
        width: 60vw;
        height: auto;
        display: grid;
        gap: 10px;
    }

    #produto {
        background-color: #d9d9d9;
        border: 1px solid #f6f6f6;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
        gap: 8%;
    }

    #produto-img {
        width: 120px;
        height: 110px;
        overflow: hidden;
    }

    #produto-img img {
        width: 100%;
        height: 100%;
    }

    #buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        font-size: 20px;
    }

    #buttons a {
        text-decoration: none;
        color: #272727;
    }

    #buttons a:hover {
        opacity: 0.5;
    }
}