@media screen and (min-width: 320px) and (max-width: 768px){

        
}

@media screen and (min-width: 1024px) {

    .container {
        width: 100vw;
        height: 90vh;
        overflow: hidden;
    }

    #title {
        width: 100%;
        text-align: center;
        padding: 2%;
    }

    #forms {
        width: 100%;
        height: 90%;
        overflow: hidden;
        display: flex;
    }

    #forms #frmEndereco {
        width: 50%;
        height: 100%;
        border-right: 2px solid #272727;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #frmEndereco #blocks {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    #frmEndereco #blocks div {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 20%;
    }

    #frmEndereco #form-title {
        width: 100%;
        font-size: 22px;
        font-weight: 200;
        text-align: center;
        margin: 5%;
    }

    #frmEndereco #blocks div input {
        height: 2vh;
        border: 1px solid #272727;
        margin-bottom: 5%;
        padding: 6px;
    }

    #frmEndereco #blocks label {
        font-size: 20px;
    }

    #frmEndereco #blocks div input:focus {
        outline: none;
    }

    /* métodos de pagamento */

    #payment {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #payments-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 70%;
        gap: 10px;
    }

    #payment-title {
        width: 100%;
        font-size: 22px;
        font-weight: 200;
        text-align: center;
        margin: 5%;
    }

    #payment #credito,
    #boleto,
    #pix {
        width: 80%;
        height: 20%;
        background-color: #d9d9d9;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-content: space-around;
    }

    #credito,
    #boleto,
    #pix div {
        display: grid;
        align-items: center;
        justify-items: center;
    }

    #payment button {
        border: none;
        font-size: 20px;
        color: #272727;
        background-color: transparent;
    }

    #payment button:hover {
        cursor: pointer;
        opacity: 0.5;
    }

    #label-numero {
        grid-area: label-numero;
    }

    #in-numero {
        grid-area: in-numero;
    }

    #label-data {
        grid-area: label-data;
    }

    #in-data {
        grid-area: in-data;
    }

    #label-cvc {
        grid-area: label-cvc;
    }

    #in-cvc {
        grid-area: in-cvc;
    }

    #label-nome {
        grid-area: label-nome;
    }

    #in-nome {
        grid-area: in-nome;
    }

    #creditCardFrm {
        overflow: hidden;
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;
        padding: 5%;
        grid-template-areas: "label-numero label-numero"
            "in-numero in-numero"
            "label-data label-cvc"
            "in-data in-cvc"
            "label-nome label-nome"
            "in-nome in-nome";
    }

    #creditCardFrm label,
    input {
        padding: 1%;
        overflow: hidden;
    }

    #form-container-credit {
        display: none;
    }

    #form-container-credit.selected {
        display: grid;
        overflow: hidden;
        width: 80%;
        height: 100%;
    }
}