input:focus {
    outline: none;
}

body {
    background: linear-gradient(to bottom, #fff, #2727270c);
}

#btnFinalizar {
    display: grid;
    align-content: center;
    justify-content: center;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    header {
        height: 8vh;
    }

    main {
        width: 100vw;
        height: auto;
    }

    footer {
        height: 40vh;
    }

    #title {
        text-align: center;
        margin: 5%;
        font-size: 14px;
    }

    #checkoutFrm {
        display: grid;
        height: auto;
        gap: 5px;
        overflow: hidden;
    }

    .form-title {
        text-align: center;
        margin: 3% 0;
    }

    #checkoutFrm #frmEndereco {
        display: grid;
        width: 85%;
        height: 40vh;
        margin: 0 auto;
        align-items: center;
        gap: 5px;
    }

    #checkoutFrm #frmEndereco input {
        height: 2vh;
        padding: 2%;
        border: 1px solid #272727;
    }

    #pagamentos {
        display: grid;
        width: 85%;
        height: 60vh;
        margin: 0 auto;
        gap: 3px;
        align-items: center;
    }

    #pagamentos #cartao-credito,
    #boleto,
    #pix {
        height: 4vh;
        background-color: #dfdfdf;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
        font-size: 12px;
    }

    #pagamentos #cartao-credito,
    #boleto,
    #pix {
        height: 100%;
    }

    #pagamentos #cartao-credito a,
    #boleto a,
    #pix a {
        font-size: 12px;
        border: none;
        background-color: transparent;
        color: #272727;
    }

    #pagamentos #cartao-credito a:hover,
    #boleto a:hover,
    #pix a:hover {
        opacity: 0.6;
        cursor: pointer;
    }

    #form-cartao-credito {
        display: none;
    }

    #form-cartao-credito.selected {
        display: grid;
        height: 65%;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 5%;
        background-color: #eeeeee;
        font-size: 12px;
        gap: 5px;
    }

    #form-cartao-credito div {
        display: grid;
        gap: 5px;
    }

    #form-cartao-credito #mid {
        display: flex;
        gap: 5px;
    }

    #pagamentos #cartao-credito div,
    #boleto div,
    #pix div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #pagamentos #cartao-credito img,
    #boleto img,
    #pix img {
        width: 70%;
        height: 100%;
        margin: 0 auto;
    }

    #pix i {
        font-size: 34px;
        overflow: hidden;
    }

    .forms span {
        overflow: hidden;
    }

    #pix-code{
        display: none;
    }

    #pix-code.selected {
        background-color: #eeeeee;
        width: 100%;
        height: auto;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    #pix-code.selected span {
        margin: 5% auto;
    }

    #pix-code.selected img {
        width: 50%;
        overflow: hidden;
    }

    #checkoutFrm #btnFinalizar button {
        width: 85vw;
        height: 5vh;
        background-color: #272727;
        color: #fff;
        border: 1px solid #272727;
        transition: 0.3s;
        margin: 2% auto;
    }

    #checkoutFrm #btnFinalizar button:hover {
        background-color: #fff;
        color: #272727;
        cursor: pointer;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #side-menu {
        display: none;
    }

    header {
        height: 12vh;
    }

    main {
        width: 100vw;
        height: auto;
    }

    footer {
        height: 40vh;
    }

    #title {
        text-align: center;
        margin: 2%;
        font-size: 14px;
    }

    #checkoutFrm {
        display: grid;
        height: auto;
        overflow: hidden;
    }

    #forms-container {
        overflow: hidden;
    }

    .form-title {
        text-align: center;
        margin: 3% 0;
    }

    #checkoutFrm #frmEndereco {
        display: grid;
        width: 70%;
        height: 60vh;
        margin: 0 auto;
        align-items: center;
        gap: 5px;
    }

    #checkoutFrm #frmEndereco input {
        height: 40%;
        padding: 1%;
        border: 1px solid #272727;
    }

    #pagamentos {
        display: grid;
        width: 70%;
        height: 70vh;
        margin: 0 auto;
        gap: 3px;
        align-items: center;
    }

    #pagamentos #cartao-credito,
    #boleto,
    #pix {
        height: 4vh;
        background-color: #dfdfdf;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
        font-size: 12px;
    }

    #pagamentos #cartao-credito,
    #boleto,
    #pix {
        height: 100%;
    }

    #pagamentos #cartao-credito a,
    #boleto a,
    #pix a {
        font-size: 12px;
        border: none;
        background-color: transparent;
        color: #272727;
    }

    #pagamentos #cartao-credito a:hover,
    #boleto a:hover,
    #pix a:hover {
        opacity: 0.6;
        cursor: pointer;
    }

    #form-cartao-credito {
        display: none;
    }

    #form-cartao-credito input,
    #mid input {
        border: 1px solid #272727;
        padding: 0 1%;
    }

    #form-cartao-credito.selected {
        display: grid;
        height: 65%;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 5%;
        background-color: #eeeeee;
        font-size: 12px;
        gap: 5px;
    }

    .forms span {
        overflow: hidden;
    }

    #form-cartao-credito div {
        width: 100%;
        display: grid;
        gap: 5px;
    }

    #form-cartao-credito #mid {
        display: flex;
        gap: 5px;
    }

    #checkoutFrm #btnFinalizar button {
        width: 70vw;
        height: 7vh;
        background-color: #272727;
        color: #fff;
        border: 1px solid #272727;
        transition: 0.3s;
        margin: 2% auto;
    }

    #checkoutFrm #btnFinalizar button:hover {
        background-color: #fff;
        color: #272727;
        cursor: pointer;
    }

}

@media screen and (min-width: 1024px) {
    header {
        height: 12vh;
    }

    main {
        width: 100vw;
        height: auto;
    }

    .container {
        width: 100vw;
        height: auto;
    }

    footer {
        height: 40vh;
    }

    .form-title {
        margin: 2% auto;
    }

    #title {
        text-align: center;
        margin: 5%;
        font-size: 14px;
    }

    #checkoutFrm {
        display: grid;
        height: 70vh;
        align-content: space-around;
    }

    #forms-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100vw;
        height: 40vh;
        justify-items: center;
    }

    #frmEndereco {
        display: grid;
        width: 40vw;
        align-items: center;
        gap: 5px;
    }

    #frmEndereco input {
        height: 22%;
        padding: 2%;
        border: 1px solid #272727;
    }

    #pagamentos {
        display: grid;
        width: 70vh;
        gap: 3px;
        align-items: center;
    }

    #pagamentos #cartao-credito,
    #boleto,
    #pix {
        height: 4vh;
        background-color: #dfdfdf;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
        font-size: 12px;
    }

    #pagamentos #cartao-credito,
    #boleto,
    #pix {
        height: 100%;
    }

    #pagamentos #cartao-credito a,
    #boleto a,
    #pix a {
        font-size: 12px;
        border: none;
        background-color: transparent;
        color: #272727;
    }

    #pagamentos #cartao-credito a:hover,
    #boleto a:hover,
    #pix a:hover {
        opacity: 0.6;
        cursor: pointer;
    }

    #form-cartao-credito {
        display: none;
    }

    #form-cartao-credito.selected {
        display: grid;
        height: 75%;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 5% 18%;
        background-color: #eeeeee;
        font-size: 12px;
        gap: 5px;
    }

    #form-cartao-credito div {
        display: grid;
        gap: 5px;
    }

    #form-cartao-credito #mid {
        display: flex;
        gap: 5px;
    }

    #btnFinalizar {
        width: 100vw;
        display: flex;
        justify-content: flex-end;
    }

    #checkoutFrm #btnFinalizar button {
        width: 40vw;
        height: 7vh;
        background-color: #272727;
        color: #fff;
        border: 1px solid #272727;
        transition: 0.3s;
        margin: 2% auto;
    }

    #checkoutFrm #btnFinalizar button:hover {
        background-color: #fff;
        color: #272727;
        cursor: pointer;
    }
}