*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#title{
    width: 100%;
    margin: 2% 0 5% 0 ;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#side-menu{
    display: none;
}

.table{
    width: 90%;
}

.table #tb-header{
    width: 100%;
    height: 6vh;
    background-color: #d9d9d9;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    color: #272727;
    overflow: hidden;
    font-size: 12px;
}

.table #row{
    width: 100%;
    height: 6vh;
    background-color: #d9d9d9a3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    color: #272727;
    border-bottom: 1px solid #f6f6f6;
    overflow: hidden;
    font-size: 11px;
}

.table #row #product-img{
    height: 100%;
    overflow: hidden;
}

.table #row #product-img img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.table #row a{
    text-decoration: none;
    color: #272727;
}

.table #row a:hover{
    opacity: 0.6;
    cursor: pointer;
}