/* estilização pagina de login */
header{
    width: 100vw;
    height: 12vh;
}

main{
    width: 100vw;
    height: 88vh;
    overflow: hidden;
}

.main-container{
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cover-image{
    width: 50vw;
    height: 100%;
    z-index: 9;
    overflow: hidden;
}

.cover-image img{
    width: 100%;
    height: 100vh;
}

#signin-container{
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    background: linear-gradient(to right, #fff, #2727270c);
    z-index: 8;
}

#signup-container{
    width: 50vw;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    background: linear-gradient(to right, #fff, #2727270c);
    z-index: 8;
}

#signup-container.active{
    display: flex;
    gap: 5px;
}

#signin-container.toggle{
    display: none;
}

#registerBtn{
    border: none;
    background-color: transparent;
    color: black;
}

#loginBtn{
    border: none;
    background-color: transparent;
    color: black;
}

#signin-container h1{
    color: rgba(30,30,30);
    font-weight: 20;
    margin: 5%;
}

#signup-container h1{
    color: rgba(30,30,30);
    font-weight: 20;
    margin: 2%;
    overflow: hidden;
}

#signup-container form input{
  height: 2vh;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

form p{
    overflow: hidden;
    margin-bottom: 2%;
    color: rgba(27, 27, 27);
}

#signup form input{
    padding: 5px;
}

form input{
    padding: 10px;
    width: 25vw;
    color: rgb(100, 100, 100);
    border: 1px solid black;
}

form input:hover{
    border: 1px solid black;
}

form input:focus{
    outline: none;
}

input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

form h6{
    color: rgb(100, 100, 100);
    font-weight: lighter;
    font-size: 12px;
    overflow: hidden;
}

form a{
    text-decoration: none;
    color: rgb(30,30,30);
}

form button{
    height: 7vh;
    background-color: black;
    color: #fff;
    border: 1px solid black;
    transition: 200ms;
}

form button:hover{
    background-color: #fff;
    color: rgba(27, 27, 27);
    cursor: pointer;
}

#signup-container form p{
    margin-top: 8px;
}

footer{
    width: 100vw;
    height: 40vh;
}

#signin-container form #errorMessage{
    color: red;
    font-size: 14px;
}