*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, #fff, #2727270c);
}

.container{
    width: 70vw;
    height: 90vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container #product-name{
    font-size: 24px;
    font-weight: lighter;
    color: #272727;
}

.container #product-price{
    font-size: 20px;
    font-weight: lighter;
    color: #272727;
}

.container #product-desc{
    font-size: 16px;
    font-weight: lighter;
    color: #272727;
}

.container a{
    width: 100%;
    height: 12%;
    overflow: hidden;
    text-decoration: none;
    color: #fff;
}

.container button{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: none;
    background-color: #272727;
    color: #fff;
    padding: 5%;
    font-size: 16px;
    font-weight: 100;
    transition: 300ms;
}

.container button:hover{
    background-color: #fff;
    color: #272727;
    border: 1px solid #272727;
    cursor: pointer;
    overflow: hidden;
}

#product-image{
    width: 470px;
    height: 405px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #272727;
}

#product-infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    height: 405px;
}

#tabela-tamanhos{
    width: 100%;
    display: grid;
    gap: 20px;
}

#opcoes-tamanho{
    display: flex;
    gap: 10px;
}

#opcoes-tamanho div{
    border: 1px solid #272727;
    background-color: #fff;
    padding: 2%;
}

#opcoes-tamanho div:hover{
    cursor: pointer;
    opacity: 0.5;
}

.tamanho.selected{
    border: 1px dashed #272727;
    opacity: 0.5;
}

