<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexController</servlet-name>
        <servlet-class>controller.IndexController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutosController</servlet-name>
        <servlet-class>controller.ProdutosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProdutosController</servlet-name>
        <servlet-class>controller.ListarProdutosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarrinhoController</servlet-name>
        <servlet-class>controller.CarrinhoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutController</servlet-name>
        <servlet-class>controller.CheckoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagamentoController</servlet-name>
        <servlet-class>controller.PagamentoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SobreController</servlet-name>
        <servlet-class>controller.SobreController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/logar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexController</servlet-name>
        <url-pattern>/IndexController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutosController</servlet-name>
        <url-pattern>/ProdutosController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutosController</servlet-name>
        <url-pattern>/adicionar-produto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutosController</servlet-name>
        <url-pattern>/gerenciar-produtos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutosController</servlet-name>
        <url-pattern>/cadastrar-produto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProdutosController</servlet-name>
        <url-pattern>/ListarProdutosController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProdutosController</servlet-name>
        <url-pattern>/buscar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProdutosController</servlet-name>
        <url-pattern>/buscar-categoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProdutosController</servlet-name>
        <url-pattern>/ver-produto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/adicionar-usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/gerenciar-usuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarrinhoController</servlet-name>
        <url-pattern>/CarrinhoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarrinhoController</servlet-name>
        <url-pattern>/incrementar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarrinhoController</servlet-name>
        <url-pattern>/diminuir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarrinhoController</servlet-name>
        <url-pattern>/adicionar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/CheckoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagamentoController</servlet-name>
        <url-pattern>/PagamentoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagamentoController</servlet-name>
        <url-pattern>/validarPagamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SobreController</servlet-name>
        <url-pattern>/SobreController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>redirect.jsp</welcome-file>
    </welcome-file-list>
</web-app>
